@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Palanquin', sans-serif;
}
.header1{
    background-color: #1CD1B0;
    height: 3vh;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.header1 span{
    font-weight: 600;
}
.header2{
    background-color: #00669F;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom:2vh;
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
    box-shadow: 0px 10px 7px 0px #00000040;

}
.header2 h1{
    font-weight: 600;
}
.background-div{
    background-image: url(./images/fondo-batman.png);
    width: 19vw;
    background-size: auto;
    background-position: center;
    height: 193px;
    background-repeat: no-repeat;
}
.background-div2{
    background-image: url(./images/fondo-chica.png);
    width: 19vw;
    background-size: auto;
    background-position: center;
    height: 193px;
    background-repeat: no-repeat;
}
.background-div2 img{
    position: relative;
    left: 2vw;
    top: 2vh;
    width: 2vw;
    transition: all 800ms;
}
.background-div2 img:hover{
    filter: grayscale(100);
    width: 1.5vw;
}
.background-div img:hover{
    filter: grayscale(100);
    width: 1.5vw;
}
.background-div img{
    position: relative;
    left: 2vw;
    top: 2vh;
    width: 2vw;
    transition: all 800ms;
}
.nombre-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 6vh;
    padding: 2vh;
}
.nombre-div p{
    height:max-content;
    font-weight: 500;
}
.nombre-div img{
    width: 120px;
    height: 118px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0.5px black;
    margin-bottom: 3vh;
    transition: all 600ms;
}
.nombre-div img:hover{
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0.5px black;
    margin-bottom: 3vh;
    filter: drop-shadow(2px 4px 6px black);
}
main{
    margin-top: 10vh;
    display: flex;
    height: max-content;
    justify-content: space-around;
}
.rectangulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F3F3;
    width: 19vw;
    border-radius: 50px 50px 0px 0;
    box-shadow: 0px 4px 4px 0px #00000040;

}
button {
    margin-top: 5vh;
	background-color:#00659f;
	border:1px solid #00659f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    transition: all 500ms;
}
button:hover {
	background-color:#ffffff;
    color: #00659f ;
    border:5px solid #00659f;
    padding:11px 26px;
}
button:active {
	position:relative;
	top:1px;
}     
footer{
    margin-top: 10vh;
    padding-left: 1vw;
    height: 5vh;
    background-color: #00669F;
    color: white;
    display: flex;
    align-items: center;

}
footer span{
    font-weight: 300;
}